# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out

# Environment files
.env
.env.*

# Prisma
**/migrations

# Package manager files
pnpm-lock.yaml
package-lock.json
yarn.lock

# IDE
.vscode
.idea

# Git
.git

# Misc
coverage
*.log